USE [master]
GO
/****** Object:  Database [digiturk_bireysel_ilekasoft_DB]    Script Date: 26.11.2025 15:17:19 ******/
CREATE DATABASE [digiturk_bireysel_ilekasoft_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'digiturk', FILENAME = N'D:\Yedek\MSSQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\digiturk.mdf' , SIZE = 794624KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'digiturk_log', FILENAME = N'D:\Yedek\MSSQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\digiturk_log.ldf' , SIZE = 2301952KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [digiturk_bireysel_ilekasoft_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [digiturk_bireysel_ilekasoft_DB]
GO
/****** Object:  User [WIN-ESRJ1RT1EL0\IWPD_16(ilekasoft)]    Script Date: 26.11.2025 15:17:20 ******/
CREATE USER [WIN-ESRJ1RT1EL0\IWPD_16(ilekasoft)] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [digiturk_bireysel_ilekasoft_user]    Script Date: 26.11.2025 15:17:20 ******/
CREATE USER [digiturk_bireysel_ilekasoft_user] FOR LOGIN [digiturk_bireysel_ilekasoft_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [digiturk_basvur_user]    Script Date: 26.11.2025 15:17:20 ******/
CREATE USER [digiturk_basvur_user] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [digiturk]    Script Date: 26.11.2025 15:17:20 ******/
CREATE USER [digiturk] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[digiturk]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [WIN-ESRJ1RT1EL0\IWPD_16(ilekasoft)]
GO
ALTER ROLE [db_datareader] ADD MEMBER [WIN-ESRJ1RT1EL0\IWPD_16(ilekasoft)]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [WIN-ESRJ1RT1EL0\IWPD_16(ilekasoft)]
GO
ALTER ROLE [db_datareader] ADD MEMBER [digiturk_bireysel_ilekasoft_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [digiturk_bireysel_ilekasoft_user]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [digiturk]
GO
ALTER ROLE [db_datareader] ADD MEMBER [digiturk]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [digiturk]
GO
/****** Object:  Schema [digiturk]    Script Date: 26.11.2025 15:17:20 ******/
CREATE SCHEMA [digiturk]
GO
/****** Object:  Table [dbo].[adres_iller]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adres_iller](
	[adres_iller_ID] [int] IDENTITY(1,1) NOT NULL,
	[adres_iller_name] [nvarchar](50) NULL,
	[adres_iller_code] [int] NULL,
	[adres_iller_raw_response] [nvarchar](max) NULL,
	[adres_iller_KOI] [bit] NULL,
	[adres_iller_durum] [bit] NULL,
	[adres_iller_olusturma_tarih] [datetime] NULL,
	[adres_iller_guncelleme_tarihi] [datetime] NULL,
 CONSTRAINT [PK_adres_iller] PRIMARY KEY CLUSTERED 
(
	[adres_iller_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_basvuruDurum]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_basvuruDurum](
	[API_basvuru_durum_ID] [int] IDENTITY(1,1) NOT NULL,
	[API_basvuru_durum_Mesaj] [nvarchar](255) NULL,
	[API_basvuru_durum_renk] [varchar](50) NULL,
	[API_basvuru_durum_durum] [bit] NOT NULL,
	[API_basvuru_durum_olusturma_tarih] [datetime] NULL,
	[API_basvuru_durum_guncelleme_tarihi] [datetime] NULL,
	[API_basvuru_durum_Aciklama] [nvarchar](200) NULL,
 CONSTRAINT [PK_API_basvuruDurum] PRIMARY KEY CLUSTERED 
(
	[API_basvuru_durum_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_basvuruListesi]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_basvuruListesi](
	[API_basvuru_ID] [int] IDENTITY(1,1) NOT NULL,
	[API_basvuru_bbkAddressCode] [nvarchar](50) NULL,
	[API_basvuru_email] [nvarchar](255) NULL,
	[API_basvuru_phoneCountryNumber] [nvarchar](10) NULL,
	[API_basvuru_phoneAreaNumber] [nvarchar](10) NULL,
	[API_basvuru_phoneNumber] [nvarchar](20) NULL,
	[API_basvuru_birthDate] [date] NULL,
	[API_basvuru_citizenNumber] [nvarchar](11) NULL,
	[API_basvuru_firstName] [nvarchar](100) NULL,
	[API_basvuru_surname] [nvarchar](100) NULL,
	[API_basvuru_genderType] [nvarchar](10) NULL,
	[API_basvuru_identityCardType_ID] [int] NULL,
	[API_basvuru_CampaignList_ID] [int] NULL,
	[API_basvuru_ResponseCode_ID] [int] NULL,
	[API_basvuru_ResponseMessage] [nvarchar](max) NULL,
	[API_basvuru_basvuru_durum_ID] [int] NULL,
	[API_basvuru_Basvuru_Aciklama] [nvarchar](500) NULL,
	[API_basvuru_olusturma_tarih] [datetime] NULL,
	[API_basvuru_guncelleme_tarihi] [datetime] NULL,
	[API_basvuru_kullanici_ID] [int] NULL,
	[API_basvuru_kaynakSite] [nvarchar](500) NULL,
	[API_basvuru_Paket_ID] [int] NULL,
	[API_basvuru_MusteriNo] [int] NULL,
	[API_basvuru_TalepKayitNo] [int] NULL,
	[API_basvuru_MemoID] [int] NULL,
	[API_basvuru_otomatik_gonderim] [bit] NOT NULL,
	[API_basvuru_gonderim_deneme_sayisi] [int] NOT NULL,
	[API_basvuru_son_gonderim_denemesi] [datetime] NULL,
 CONSTRAINT [PK_API_basvuruListesi] PRIMARY KEY CLUSTERED 
(
	[API_basvuru_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_CampaignList]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_CampaignList](
	[API_CampaignList_ID] [int] IDENTITY(1,1) NOT NULL,
	[API_CampaignList_CampaignName] [nvarchar](255) NULL,
	[API_CampaignList_Durum] [bit] NOT NULL,
	[API_CampaignList_olusturma_tarih] [datetime] NULL,
	[API_CampaignList_guncelleme_tarihi] [datetime] NULL,
 CONSTRAINT [PK_API_CampaignList] PRIMARY KEY CLUSTERED 
(
	[API_CampaignList_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_GetCardTypeList]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_GetCardTypeList](
	[API_GetCardTypeList_ID] [int] IDENTITY(1,1) NOT NULL,
	[API_GetCardTypeList_card_code] [nvarchar](50) NULL,
	[API_GetCardTypeList_card_name] [nvarchar](255) NULL,
	[API_GetCardTypeList_raw_response] [nvarchar](max) NULL,
	[API_GetCardTypeList_olusturma_tarih] [datetime] NULL,
	[API_GetCardTypeList_guncelleme_tarihi] [datetime] NULL,
 CONSTRAINT [PK_API_GetCardTypeList] PRIMARY KEY CLUSTERED 
(
	[API_GetCardTypeList_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_GetNeoCampaignList]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_GetNeoCampaignList](
	[API_GetNeoCampaignList_ID] [int] IDENTITY(1,1) NOT NULL,
	[API_GetNeoCampaignList_billFrequency] [nvarchar](50) NULL,
	[API_GetNeoCampaignList_billFrequencyTypeCd] [nvarchar](50) NULL,
	[API_GetNeoCampaignList_currencyTypeCd] [nvarchar](50) NULL,
	[API_GetNeoCampaignList_description] [nvarchar](500) NULL,
	[API_GetNeoCampaignList_name] [nvarchar](200) NULL,
	[API_GetNeoCampaignList_offerFromCode] [nvarchar](100) NULL,
	[API_GetNeoCampaignList_offerFromId] [nvarchar](100) NULL,
	[API_GetNeoCampaignList_offerToCode] [nvarchar](100) NULL,
	[API_GetNeoCampaignList_offerToId] [nvarchar](100) NULL,
	[API_GetNeoCampaignList_priceAmount] [decimal](18, 2) NULL,
	[API_GetNeoCampaignList_PaketAdi] [nvarchar](200) NULL,
	[API_GetNeoCampaignList_Fiyat] [decimal](18, 2) NULL,
	[API_GetNeoCampaignList_FiyatAciklama] [nvarchar](500) NULL,
	[API_GetNeoCampaignList_odeme_turu_id] [int] NULL,
	[API_GetNeoCampaignList_Hediye] [nvarchar](100) NULL,
	[API_GetNeoCampaignList_Periyot] [nvarchar](50) NOT NULL,
	[API_GetNeoCampaignList_KOI] [bit] NULL,
	[API_GetNeoCampaignList_durum] [bit] NULL,
	[API_GetNeoCampaignList_olusturma_tarih] [datetime] NULL,
	[API_GetNeoCampaignList_guncelleme_tarihi] [datetime] NULL,
 CONSTRAINT [PK_API_GetNeoCampaignList] PRIMARY KEY CLUSTERED 
(
	[API_GetNeoCampaignList_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_GetSatelliteCampaignList]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_GetSatelliteCampaignList](
	[API_GetSatelliteCampaignList_ID] [int] IDENTITY(1,1) NOT NULL,
	[API_GetSatelliteCampaignList_billFrequency] [nvarchar](50) NULL,
	[API_GetSatelliteCampaignList_billFrequencyTypeCd] [nvarchar](50) NULL,
	[API_GetSatelliteCampaignList_currencyTypeCd] [nvarchar](50) NULL,
	[API_GetSatelliteCampaignList_description] [nvarchar](500) NULL,
	[API_GetSatelliteCampaignList_name] [nvarchar](200) NULL,
	[API_GetSatelliteCampaignList_offerFromCode] [nvarchar](100) NULL,
	[API_GetSatelliteCampaignList_offerFromId] [nvarchar](100) NULL,
	[API_GetSatelliteCampaignList_offerToCode] [nvarchar](100) NULL,
	[API_GetSatelliteCampaignList_offerToId] [nvarchar](100) NULL,
	[API_GetSatelliteCampaignList_priceAmount] [decimal](18, 2) NULL,
	[API_GetSatelliteCampaignList_PaketAdi] [nvarchar](200) NULL,
	[API_GetSatelliteCampaignList_Fiyat] [decimal](18, 2) NULL,
	[API_GetSatelliteCampaignList_FiyatAciklama] [nvarchar](500) NULL,
	[API_GetSatelliteCampaignList_odeme_turu_id] [int] NULL,
	[API_GetSatelliteCampaignList_Hediye] [nvarchar](100) NULL,
	[API_GetSatelliteCampaignList_Periyot] [nvarchar](50) NOT NULL,
	[API_GetSatelliteCampaignList_KOI] [bit] NULL,
	[API_GetSatelliteCampaignList_durum] [bit] NULL,
	[API_GetSatelliteCampaignList_olusturma_tarih] [datetime] NULL,
	[API_GetSatelliteCampaignList_guncelleme_tarihi] [datetime] NULL,
 CONSTRAINT [PK_API_GetSatelliteCampaignList] PRIMARY KEY CLUSTERED 
(
	[API_GetSatelliteCampaignList_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_Gonderim_Log]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_Gonderim_Log](
	[log_ID] [int] IDENTITY(1,1) NOT NULL,
	[log_basvuru_ID] [int] NOT NULL,
	[log_islem_yapan_kullanici_ID] [int] NOT NULL,
	[log_istek_tipi] [nvarchar](50) NULL,
	[log_api_url] [nvarchar](500) NULL,
	[log_api_method] [nvarchar](10) NULL,
	[log_request_body] [nvarchar](max) NULL,
	[log_request_token] [nvarchar](500) NULL,
	[log_http_status] [int] NULL,
	[log_response_body] [nvarchar](max) NULL,
	[log_response_code] [int] NULL,
	[log_response_message] [nvarchar](max) NULL,
	[log_islem_basarili] [bit] NULL,
	[log_hata_mesaji] [nvarchar](max) NULL,
	[log_kaydedilen_ResponseCodeID] [int] NULL,
	[log_kaydedilen_MusteriNo] [nvarchar](50) NULL,
	[log_kaydedilen_TalepKayitNo] [nvarchar](50) NULL,
	[log_kaydedilen_MemoID] [nvarchar](50) NULL,
	[log_kaydedilen_BasvuruDurumID] [int] NULL,
	[log_olusturma_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_kullanici]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_kullanici](
	[api_iris_kullanici_ID] [int] IDENTITY(1,1) NOT NULL,
	[users_ID] [int] NOT NULL,
	[api_iris_kullanici_OrganisationCd] [nvarchar](100) NULL,
	[api_iris_kullanici_LoginCd] [nvarchar](100) NULL,
	[api_iris_kullanici_Password] [nvarchar](100) NULL,
	[api_iris_kullanici_token] [nvarchar](max) NULL,
	[api_iris_kullanici_tokenGuncellemeTarihi] [datetime] NULL,
	[api_iris_kullanici_response_code] [int] NULL,
	[api_iris_kullanici_response_message] [nvarchar](500) NULL,
	[api_iris_kullanici_raw_response] [nvarchar](max) NULL,
	[api_iris_kullanici_URL] [nvarchar](500) NULL,
	[api_iris_kullanici_logoURL] [nvarchar](500) NULL,
	[api_iris_kullanici_durum] [bit] NOT NULL,
 CONSTRAINT [PK_api_iris_kullanici] PRIMARY KEY CLUSTERED 
(
	[api_iris_kullanici_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_Link]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_Link](
	[api_iris_Address_ID] [int] IDENTITY(1,1) NOT NULL,
	[api_iris_Address_isim] [nvarchar](100) NULL,
	[api_iris_Address_URL] [nvarchar](500) NULL,
	[api_iris_aciklama] [nvarchar](500) NULL,
	[api_iris_durum] [bit] NOT NULL,
	[api_iris_olusturma_tarihi] [datetime] NULL,
	[api_iris_guncelleme_tarihi] [datetime] NULL,
 CONSTRAINT [PK_api_iris_Address] PRIMARY KEY CLUSTERED 
(
	[api_iris_Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_odeme_turu]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_odeme_turu](
	[API_odeme_turu_ID] [int] IDENTITY(1,1) NOT NULL,
	[API_odeme_turu_ad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_API_odeme_turu] PRIMARY KEY CLUSTERED 
(
	[API_odeme_turu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_ResponseCode]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_ResponseCode](
	[ResponseCode_ID] [int] IDENTITY(1,1) NOT NULL,
	[ResponseCode_Code] [int] NULL,
	[ResponseCode_Message] [nvarchar](255) NULL,
	[ResponseCode_renk] [nvarchar](50) NULL,
	[ResponseCode_Durum] [bit] NOT NULL,
	[ResponseCode_olusturma_tarih] [datetime] NULL,
	[ResponseCode_guncelleme_tarihi] [datetime] NULL,
 CONSTRAINT [PK_ResponseCode] PRIMARY KEY CLUSTERED 
(
	[ResponseCode_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_Slider]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_Slider](
	[api_iris_slider_ID] [int] IDENTITY(1,1) NOT NULL,
	[api_iris_slider_Adi] [nvarchar](100) NULL,
	[api_iris_slider_GorselURL] [nvarchar](500) NULL,
	[api_iris_slider_MobilGorselURL] [nvarchar](500) NULL,
	[api_iris_slider_BitisTarihi] [datetime] NULL,
	[api_iris_slider_CampaignList_ID] [int] NULL,
	[api_iris_slider_Paket_ID] [int] NULL,
	[api_iris_slider_durum] [bit] NOT NULL,
	[api_iris_slider_olusturma_tarihi] [datetime] NULL,
	[api_iris_slider_guncelleme_tarihi] [datetime] NULL,
 CONSTRAINT [PK_API_Slider] PRIMARY KEY CLUSTERED 
(
	[api_iris_slider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bayi_hakedis_odeme]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bayi_hakedis_odeme](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[odeme_turu_id] [int] NOT NULL,
	[odeme_tutari] [decimal](15, 2) NOT NULL,
	[odeme_tarihi] [datetime2](7) NOT NULL,
	[aciklama] [nvarchar](1500) NULL,
	[evrak_dosya_adi] [nvarchar](255) NULL,
	[evrak_dosya_yolu] [nvarchar](500) NULL,
	[evrak_dosya_boyutu] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[referans_no] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hakedis_tanim]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hakedis_tanim](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bayi_id] [int] NOT NULL,
	[isp_neo_fiyat] [decimal](10, 2) NULL,
	[isp_uydu_fiyat] [decimal](10, 2) NULL,
	[neo_fiyat] [decimal](10, 2) NULL,
	[uydu_fiyat] [decimal](10, 2) NULL,
	[aciklama] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[bayi_hakedis_prim_donem_id] [nvarchar](255) NULL,
 CONSTRAINT [PK__hakedis___3213E83F6267D556] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odeme_turleri]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odeme_turleri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tur_adi] [nvarchar](100) NOT NULL,
	[tur_kodu] [nvarchar](20) NOT NULL,
	[aciklama] [nvarchar](500) NULL,
	[renk_kodu] [nvarchar](7) NULL,
	[ikon] [nvarchar](50) NULL,
	[aktif] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tur_kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[primebaz_rapor]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[primebaz_rapor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prim_detay] [nvarchar](100) NULL,
	[prim_donem] [nvarchar](50) NULL,
	[memo_acan_personel_kimlik] [nvarchar](100) NULL,
	[bolge] [nvarchar](100) NULL,
	[bayi_yoneticisi] [nvarchar](100) NULL,
	[bayi_tip] [nvarchar](100) NULL,
	[bayi_kodu] [int] NULL,
	[bayi_adi] [nvarchar](300) NULL,
	[sozlesme_no] [nvarchar](100) NULL,
	[account_no] [int] NULL,
	[outlet_no] [int] NULL,
	[potansiyel_no] [int] NULL,
	[kampanya_kodu] [nvarchar](200) NULL,
	[sozlesme_durumu] [int] NULL,
	[uye_durumu] [nvarchar](200) NULL,
	[odeme_durum] [int] NULL,
	[odeme_tarihi] [date] NULL,
	[prim_ust_urun_grubu] [nvarchar](200) NULL,
	[basic_basari_skala] [nvarchar](40) NULL,
	[cinema_basari_skala] [nvarchar](40) NULL,
	[sport_basari_skala] [nvarchar](40) NULL,
	[genel_basari_skala] [nvarchar](40) NULL,
	[isp_basari_skala] [nvarchar](40) NULL,
	[uyelik_turu] [nvarchar](100) NULL,
	[kurulum_ziyaret_tipi] [nvarchar](200) NULL,
	[kurulum_tipi_aciklama] [nvarchar](400) NULL,
	[eski_ref_prim] [decimal](12, 2) NULL,
	[odenecek_prim] [decimal](12, 2) NULL,
	[mahsup_tutari_odeme_durumu] [decimal](12, 2) NULL,
	[yonlendirme] [nvarchar](200) NULL,
	[prim_durum_aciklama] [nvarchar](400) NULL,
	[dosya_adi] [nvarchar](255) NULL,
	[yuklenme_tarihi] [datetime] NULL,
	[bayi_hakedis_prim_donem_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tanim_menuler]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tanim_menuler](
	[menu_id] [int] IDENTITY(1,1) NOT NULL,
	[modul_id] [int] NOT NULL,
	[menu_adi] [nvarchar](100) NOT NULL,
	[menu_url] [nvarchar](255) NOT NULL,
	[ikon] [nvarchar](50) NULL,
	[sira_no] [int] NULL,
	[durum] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tanim_modul_menu_yetkiler]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tanim_modul_menu_yetkiler](
	[modul_menu_yetki_id] [int] IDENTITY(1,1) NOT NULL,
	[modul_id] [int] NULL,
	[menu_id] [int] NULL,
	[user_group_id] [int] NOT NULL,
	[gor] [bit] NULL,
	[durum] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[modul_menu_yetki_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tanim_moduller]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tanim_moduller](
	[modul_id] [int] IDENTITY(1,1) NOT NULL,
	[modul_adi] [nvarchar](100) NOT NULL,
	[modul_url] [nvarchar](255) NOT NULL,
	[aciklama] [nvarchar](255) NULL,
	[durum] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[sira_no] [int] NULL,
	[modul_ikon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[modul_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tanim_sayfa_yetkiler]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tanim_sayfa_yetkiler](
	[sayfa_yetki_id] [int] IDENTITY(1,1) NOT NULL,
	[sayfa_id] [int] NOT NULL,
	[user_group_id] [int] NOT NULL,
	[gor] [bit] NULL,
	[kendi_kullanicini_gor] [bit] NULL,
	[ekle] [bit] NULL,
	[duzenle] [bit] NULL,
	[sil] [bit] NULL,
	[durum] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[sayfa_yetki_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tanim_sayfalar]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tanim_sayfalar](
	[sayfa_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_id] [int] NOT NULL,
	[sayfa_adi] [nvarchar](100) NOT NULL,
	[sayfa_url] [nvarchar](255) NOT NULL,
	[aciklama] [nvarchar](255) NULL,
	[durum] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[sira_no] [int] NULL,
	[sayfa_ikon] [nvarchar](50) NULL,
	[dashboard] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sayfa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_groups]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](50) NOT NULL,
	[group_description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[group_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[user_group_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[last_login] [datetime2](7) NULL,
	[login_attempts] [int] NULL,
	[locked_until] [datetime2](7) NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_bayi]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_bayi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[iris_altbayi] [nvarchar](255) NOT NULL,
	[personel_kimlik_no] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_bayi_personel_kimlik_no] UNIQUE NONCLUSTERED 
(
	[personel_kimlik_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voip_operator_Harcama]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voip_operator_Harcama](
	[voip_operator_Harcama_id] [int] IDENTITY(1,1) NOT NULL,
	[voip_operator_numara_id] [int] NOT NULL,
	[voip_operator_Harcama_CagriSayisi] [int] NULL,
	[voip_operator_Harcama_Sure] [nvarchar](10) NULL,
	[voip_operator_Harcama_Tarih] [datetime] NOT NULL,
	[voip_operator_Harcama_Ucret] [decimal](18, 5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[voip_operator_Harcama_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voip_operator_NoTeslim]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voip_operator_NoTeslim](
	[voip_operator_NoTeslim_id] [int] IDENTITY(1,1) NOT NULL,
	[voip_operator_users_id] [int] NULL,
	[voip_operator_numara_id] [int] NOT NULL,
	[voip_operator_NoTeslim_Aciklama] [nvarchar](100) NULL,
	[voip_operator_NoTeslim_TeslimTarihi] [date] NULL,
	[voip_operator_NoTeslim_IadeTarihi] [date] NULL,
 CONSTRAINT [PK_voip_operator_NoTeslim] PRIMARY KEY CLUSTERED 
(
	[voip_operator_NoTeslim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voip_operator_numara]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voip_operator_numara](
	[voip_operator_numara_id] [int] IDENTITY(1,1) NOT NULL,
	[voip_operator_tanim_id] [int] NOT NULL,
	[voip_operator_numara_VoIPNo] [nvarchar](20) NOT NULL,
	[voip_operator_numara_Sifre] [nvarchar](20) NULL,
	[voip_operator_numara_IP] [nvarchar](50) NULL,
	[voip_operator_numara_Aciklama] [nvarchar](100) NULL,
	[voip_operator_numara_durum] [bit] NULL,
	[voip_operator_numara_olusturmaTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[voip_operator_numara_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voip_operator_tanim]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voip_operator_tanim](
	[voip_operator_id] [int] IDENTITY(1,1) NOT NULL,
	[voip_operator_users_id] [int] NOT NULL,
	[voip_operator_adi] [nvarchar](20) NOT NULL,
	[voip_operator_aciklama] [nvarchar](100) NULL,
	[voip_operator_kanalSayisi] [int] NULL,
	[voip_operator_CPS] [int] NULL,
	[voip_operator_link] [nvarchar](100) NULL,
	[voip_operator_kullanici] [nvarchar](20) NULL,
	[voip_operator_sifre] [nvarchar](20) NULL,
	[voip_operator_trunk] [int] NULL,
	[voip_operator_durum] [bit] NULL,
	[voip_operator_olusturmaTarihi] [date] NULL,
	[voip_operator_IP] [nvarchar](50) NULL,
	[voip_operator_sippy_cookie] [nvarchar](500) NULL,
	[voip_operator_sippy_base_url] [nvarchar](500) NULL,
	[voip_operator_sippy_customer_id] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[voip_operator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [digiturk].[bayi_hakedis_prim_donem]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digiturk].[bayi_hakedis_prim_donem](
	[id] [nvarchar](500) NOT NULL,
	[donem_adi] [nvarchar](255) NOT NULL,
	[baslangic_tarihi] [date] NOT NULL,
	[bitis_tarihi] [date] NOT NULL,
	[durum] [nvarchar](50) NOT NULL,
	[olusturma_tarihi] [datetime2](7) NOT NULL,
	[olusturan] [int] NULL,
	[guncelleme_tarihi] [datetime2](7) NULL,
	[guncelleyen] [int] NULL,
 CONSTRAINT [UQ_bayi_hakedis_prim_donem_adi] UNIQUE NONCLUSTERED 
(
	[donem_adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [digiturk].[iris_rapor]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digiturk].[iris_rapor](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TALEP_ID] [nvarchar](50) NULL,
	[TALEP_TURU] [nvarchar](100) NULL,
	[UYDU_BASVURU_POTANSIYEL_NO] [nvarchar](50) NULL,
	[UYDU_BASVURU_UYE_NO] [nvarchar](50) NULL,
	[DT_MUSTERI_NO] [nvarchar](50) NULL,
	[MEMO_ID] [bigint] NULL,
	[MEMO_KAYIT_TIPI] [nvarchar](50) NULL,
	[MEMO_ID_TIP] [nvarchar](50) NULL,
	[MEMO_KODU] [nvarchar](100) NULL,
	[MEMO_KAPANIS_TARIHI] [datetime2](7) NULL,
	[MEMO_YONLENEN_BAYI_KODU] [nvarchar](50) NULL,
	[MEMO_YONLENEN_BAYI_ADI] [nvarchar](200) NULL,
	[MEMO_YONLENEN_BAYI_YONETICISI] [nvarchar](200) NULL,
	[MEMO_YONLENEN_BAYI_BOLGE] [nvarchar](100) NULL,
	[MEMO_YONLENEN_BAYI_TEKNIK_YNTC] [nvarchar](200) NULL,
	[TALEP_GIRIS_TARIHI] [datetime2](7) NULL,
	[TALEBI_GIREN_BAYI_KODU] [nvarchar](50) NULL,
	[TALEBI_GIREN_BAYI_ADI] [nvarchar](200) NULL,
	[TALEBI_GIREN_PERSONEL] [nvarchar](200) NULL,
	[TALEBI_GIREN_PERSONELNO] [nvarchar](50) NULL,
	[TALEBI_GIREN_PERSONELKODU] [nvarchar](50) NULL,
	[TALEBI_GIREN_PERSONEL_ALTBAYI] [nvarchar](200) NULL,
	[TALEP_KAYNAK] [nvarchar](100) NULL,
	[SATIS_DURUMU] [nvarchar](100) NULL,
	[INTERNET_SUREC_DURUMU] [nvarchar](100) NULL,
	[AKTIVE_EDILEN_UYENO] [nvarchar](50) NULL,
	[AKTIVE_EDILEN_OUTLETNO] [nvarchar](50) NULL,
	[AKTIVE_EDILEN_SOZLESMENO] [nvarchar](50) NULL,
	[AKTIVE_EDILEN_SOZLESMEKMP] [nvarchar](100) NULL,
	[AKTIVE_EDILEN_SOZLESMEDURUM] [nvarchar](100) NULL,
	[TALEP_TAKIP_NOTU] [nvarchar](1000) NULL,
	[GUNCEL_OUTLET_DURUM] [nvarchar](100) NULL,
	[TEYIT_DURUM] [nvarchar](100) NULL,
	[TEYIT_ARAMA_DURUM] [nvarchar](100) NULL,
	[RANDEVU_TARIHI] [datetime2](7) NULL,
	[MEMO_SON_DURUM] [nvarchar](100) NULL,
	[MEMO_SON_CEVAP] [nvarchar](500) NULL,
	[MEMO_SON_ACIKLAMA] [nvarchar](1000) NULL,
	[eklenme_tarihi] [datetime2](7) NOT NULL,
	[guncellenme_tarihi] [datetime2](7) NULL,
	[dosya_adi] [nvarchar](255) NULL,
 CONSTRAINT [PK__iris_rap__3213E83F377727E0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_iris_rapor_MEMO_ID] UNIQUE NONCLUSTERED 
(
	[MEMO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [digiturk].[iris_rapor_backup]    Script Date: 26.11.2025 15:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digiturk].[iris_rapor_backup](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TALEP_ID] [nvarchar](50) NULL,
	[TALEP_TURU] [nvarchar](100) NULL,
	[TALEP_KODU] [nvarchar](100) NULL,
	[MUSTERI_NO] [nvarchar](50) NULL,
	[MUSTERI_ADI] [nvarchar](200) NULL,
	[PERSONEL_NO] [nvarchar](50) NULL,
	[PERSONEL] [nvarchar](200) NULL,
	[PERSONEL_TIPI] [nvarchar](100) NULL,
	[CAGRI_MERKEZI_KODU] [nvarchar](100) NULL,
	[TALEP_TARIHI] [datetime2](7) NULL,
	[MUSTERI_TIPI] [nvarchar](100) NULL,
	[PAKET_KODU] [nvarchar](100) NULL,
	[PAKET_ADI] [nvarchar](300) NULL,
	[DURUM_KODU] [nvarchar](100) NULL,
	[DURUM] [nvarchar](200) NULL,
	[TAMAMLANMA_TARIHI] [datetime2](7) NULL,
	[TALEP_ACIKLAMASI] [nvarchar](1000) NULL,
	[COZUM_ACIKLAMASI] [nvarchar](1000) NULL,
	[ISLEM_TIPI] [nvarchar](100) NULL,
	[KANAL] [nvarchar](100) NULL,
	[BAGLANTI_TIPI] [nvarchar](100) NULL,
	[SERVIS_TIPI] [nvarchar](100) NULL,
	[CIHAZ_TIPI] [nvarchar](100) NULL,
	[CIHAZ_MARKASI] [nvarchar](100) NULL,
	[CIHAZ_MODELI] [nvarchar](200) NULL,
	[ISLETIM_SISTEMI] [nvarchar](100) NULL,
	[UYGULAMA_VERSIYONU] [nvarchar](100) NULL,
	[HATA_KODU] [nvarchar](100) NULL,
	[HATA_MESAJI] [nvarchar](500) NULL,
	[COZUM_KODU] [nvarchar](100) NULL,
	[COZUM_MESAJI] [nvarchar](500) NULL,
	[ONCELIK] [nvarchar](100) NULL,
	[KATEGORI] [nvarchar](200) NULL,
	[ALT_KATEGORI] [nvarchar](200) NULL,
	[SON_GUNCELLEME_TARIHI] [datetime2](7) NULL,
	[MEMO_ID] [bigint] NOT NULL,
	[OPERASYON_NOTU] [nvarchar](1000) NULL,
	[EKSTRA_BILGI] [nvarchar](500) NULL,
	[eklenme_tarihi] [datetime2](7) NOT NULL,
	[guncellenme_tarihi] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_API_Log_Basarili]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_API_Log_Basarili] ON [dbo].[API_Gonderim_Log]
(
	[log_islem_basarili] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_API_Log_Basvuru]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_API_Log_Basvuru] ON [dbo].[API_Gonderim_Log]
(
	[log_basvuru_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_API_Log_IslemYapanKullanici]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_API_Log_IslemYapanKullanici] ON [dbo].[API_Gonderim_Log]
(
	[log_islem_yapan_kullanici_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_API_Log_Tarih]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_API_Log_Tarih] ON [dbo].[API_Gonderim_Log]
(
	[log_olusturma_tarihi] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bayi_hakedis_odeme_created_at]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_bayi_hakedis_odeme_created_at] ON [dbo].[bayi_hakedis_odeme]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bayi_hakedis_odeme_odeme_tarihi]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_bayi_hakedis_odeme_odeme_tarihi] ON [dbo].[bayi_hakedis_odeme]
(
	[odeme_tarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bayi_hakedis_odeme_odeme_turu_id]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_bayi_hakedis_odeme_odeme_turu_id] ON [dbo].[bayi_hakedis_odeme]
(
	[odeme_turu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bayi_hakedis_odeme_user_id]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_bayi_hakedis_odeme_user_id] ON [dbo].[bayi_hakedis_odeme]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hakedis_tanim_bayi_id]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_hakedis_tanim_bayi_id] ON [dbo].[hakedis_tanim]
(
	[bayi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_mm_yetki_menu]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_mm_yetki_menu] ON [dbo].[tanim_modul_menu_yetkiler]
(
	[menu_id] ASC
)
WHERE ([menu_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_mm_yetki_modul]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_mm_yetki_modul] ON [dbo].[tanim_modul_menu_yetkiler]
(
	[modul_id] ASC
)
WHERE ([modul_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_mm_yetki_user_group]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_mm_yetki_user_group] ON [dbo].[tanim_modul_menu_yetkiler]
(
	[user_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_mm_yetki_menu_group]    Script Date: 26.11.2025 15:17:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_mm_yetki_menu_group] ON [dbo].[tanim_modul_menu_yetkiler]
(
	[menu_id] ASC,
	[user_group_id] ASC
)
WHERE ([menu_id] IS NOT NULL AND [modul_id] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_mm_yetki_modul_group]    Script Date: 26.11.2025 15:17:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_mm_yetki_modul_group] ON [dbo].[tanim_modul_menu_yetkiler]
(
	[modul_id] ASC,
	[user_group_id] ASC
)
WHERE ([modul_id] IS NOT NULL AND [menu_id] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_user_groups_name]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_user_groups_name] ON [dbo].[user_groups]
(
	[group_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_users_created_at]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_users_created_at] ON [dbo].[users]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_email]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_users_group_id]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_users_group_id] ON [dbo].[users]
(
	[user_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_users_status]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_users_status] ON [dbo].[users]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NoTeslim_numara_id]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_NoTeslim_numara_id] ON [dbo].[voip_operator_NoTeslim]
(
	[voip_operator_numara_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NoTeslim_users_id]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_NoTeslim_users_id] ON [dbo].[voip_operator_NoTeslim]
(
	[voip_operator_users_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_bayi_hakedis_prim_donem_durum]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_bayi_hakedis_prim_donem_durum] ON [digiturk].[bayi_hakedis_prim_donem]
(
	[durum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bayi_hakedis_prim_donem_olusturma]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_bayi_hakedis_prim_donem_olusturma] ON [digiturk].[bayi_hakedis_prim_donem]
(
	[olusturma_tarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bayi_hakedis_prim_donem_tarih]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_bayi_hakedis_prim_donem_tarih] ON [digiturk].[bayi_hakedis_prim_donem]
(
	[baslangic_tarihi] ASC,
	[bitis_tarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_iris_rapor_DT_MUSTERI_NO]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_iris_rapor_DT_MUSTERI_NO] ON [digiturk].[iris_rapor]
(
	[DT_MUSTERI_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_iris_rapor_eklenme_tarihi]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_iris_rapor_eklenme_tarihi] ON [digiturk].[iris_rapor]
(
	[eklenme_tarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_iris_rapor_GUNCEL_OUTLET_DURUM]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_iris_rapor_GUNCEL_OUTLET_DURUM] ON [digiturk].[iris_rapor]
(
	[GUNCEL_OUTLET_DURUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_iris_rapor_MEMO_ID_UNIQUE]    Script Date: 26.11.2025 15:17:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_iris_rapor_MEMO_ID_UNIQUE] ON [digiturk].[iris_rapor]
(
	[MEMO_ID] ASC
)
WHERE ([MEMO_ID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_iris_rapor_MEMO_KAPANIS_TARIHI]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_iris_rapor_MEMO_KAPANIS_TARIHI] ON [digiturk].[iris_rapor]
(
	[MEMO_KAPANIS_TARIHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_iris_rapor_RANDEVU_TARIHI]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_iris_rapor_RANDEVU_TARIHI] ON [digiturk].[iris_rapor]
(
	[RANDEVU_TARIHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_iris_rapor_TALEP_GIRIS_TARIHI]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_iris_rapor_TALEP_GIRIS_TARIHI] ON [digiturk].[iris_rapor]
(
	[TALEP_GIRIS_TARIHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_iris_rapor_TALEP_ID]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_iris_rapor_TALEP_ID] ON [digiturk].[iris_rapor]
(
	[TALEP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_iris_rapor_TEYIT_DURUM]    Script Date: 26.11.2025 15:17:20 ******/
CREATE NONCLUSTERED INDEX [IX_iris_rapor_TEYIT_DURUM] ON [digiturk].[iris_rapor]
(
	[TEYIT_DURUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adres_iller] ADD  DEFAULT ((1)) FOR [adres_iller_KOI]
GO
ALTER TABLE [dbo].[adres_iller] ADD  DEFAULT ((1)) FOR [adres_iller_durum]
GO
ALTER TABLE [dbo].[adres_iller] ADD  DEFAULT (getdate()) FOR [adres_iller_olusturma_tarih]
GO
ALTER TABLE [dbo].[API_basvuruDurum] ADD  DEFAULT ((1)) FOR [API_basvuru_durum_durum]
GO
ALTER TABLE [dbo].[API_basvuruDurum] ADD  DEFAULT (getdate()) FOR [API_basvuru_durum_olusturma_tarih]
GO
ALTER TABLE [dbo].[API_basvuruListesi] ADD  DEFAULT (getdate()) FOR [API_basvuru_olusturma_tarih]
GO
ALTER TABLE [dbo].[API_basvuruListesi] ADD  DEFAULT ((1)) FOR [API_basvuru_otomatik_gonderim]
GO
ALTER TABLE [dbo].[API_basvuruListesi] ADD  DEFAULT ((0)) FOR [API_basvuru_gonderim_deneme_sayisi]
GO
ALTER TABLE [dbo].[API_CampaignList] ADD  DEFAULT ((1)) FOR [API_CampaignList_Durum]
GO
ALTER TABLE [dbo].[API_CampaignList] ADD  DEFAULT (getdate()) FOR [API_CampaignList_olusturma_tarih]
GO
ALTER TABLE [dbo].[API_GetCardTypeList] ADD  DEFAULT (getdate()) FOR [API_GetCardTypeList_olusturma_tarih]
GO
ALTER TABLE [dbo].[API_GetNeoCampaignList] ADD  CONSTRAINT [DF_API_GetNeoCampaignList_Periyot]  DEFAULT (N'AY') FOR [API_GetNeoCampaignList_Periyot]
GO
ALTER TABLE [dbo].[API_GetNeoCampaignList] ADD  DEFAULT ((0)) FOR [API_GetNeoCampaignList_KOI]
GO
ALTER TABLE [dbo].[API_GetNeoCampaignList] ADD  DEFAULT ((1)) FOR [API_GetNeoCampaignList_durum]
GO
ALTER TABLE [dbo].[API_GetNeoCampaignList] ADD  DEFAULT (getdate()) FOR [API_GetNeoCampaignList_olusturma_tarih]
GO
ALTER TABLE [dbo].[API_GetSatelliteCampaignList] ADD  CONSTRAINT [DF_API_GetSatelliteCampaignList_Periyot]  DEFAULT (N'AY') FOR [API_GetSatelliteCampaignList_Periyot]
GO
ALTER TABLE [dbo].[API_GetSatelliteCampaignList] ADD  DEFAULT ((0)) FOR [API_GetSatelliteCampaignList_KOI]
GO
ALTER TABLE [dbo].[API_GetSatelliteCampaignList] ADD  DEFAULT ((1)) FOR [API_GetSatelliteCampaignList_durum]
GO
ALTER TABLE [dbo].[API_GetSatelliteCampaignList] ADD  DEFAULT (getdate()) FOR [API_GetSatelliteCampaignList_olusturma_tarih]
GO
ALTER TABLE [dbo].[API_Gonderim_Log] ADD  DEFAULT ((0)) FOR [log_islem_basarili]
GO
ALTER TABLE [dbo].[API_Gonderim_Log] ADD  DEFAULT (getdate()) FOR [log_olusturma_tarihi]
GO
ALTER TABLE [dbo].[API_kullanici] ADD  DEFAULT ((1)) FOR [api_iris_kullanici_durum]
GO
ALTER TABLE [dbo].[API_Link] ADD  DEFAULT ((1)) FOR [api_iris_durum]
GO
ALTER TABLE [dbo].[API_Link] ADD  DEFAULT (getdate()) FOR [api_iris_olusturma_tarihi]
GO
ALTER TABLE [dbo].[API_ResponseCode] ADD  DEFAULT ((1)) FOR [ResponseCode_Durum]
GO
ALTER TABLE [dbo].[API_ResponseCode] ADD  DEFAULT (getdate()) FOR [ResponseCode_olusturma_tarih]
GO
ALTER TABLE [dbo].[API_Slider] ADD  DEFAULT ((1)) FOR [api_iris_slider_durum]
GO
ALTER TABLE [dbo].[API_Slider] ADD  DEFAULT (getdate()) FOR [api_iris_slider_olusturma_tarihi]
GO
ALTER TABLE [dbo].[bayi_hakedis_odeme] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hakedis_tanim] ADD  CONSTRAINT [DF__hakedis_t__creat__19DFD96B]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[odeme_turleri] ADD  DEFAULT ('#007bff') FOR [renk_kodu]
GO
ALTER TABLE [dbo].[odeme_turleri] ADD  DEFAULT ('fa-money-bill') FOR [ikon]
GO
ALTER TABLE [dbo].[odeme_turleri] ADD  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[odeme_turleri] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[odeme_turleri] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[primebaz_rapor] ADD  DEFAULT (getdate()) FOR [yuklenme_tarihi]
GO
ALTER TABLE [dbo].[tanim_menuler] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[tanim_menuler] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler] ADD  DEFAULT ((0)) FOR [gor]
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tanim_moduller] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[tanim_moduller] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler] ADD  DEFAULT ((0)) FOR [gor]
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler] ADD  DEFAULT ((0)) FOR [kendi_kullanicini_gor]
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler] ADD  DEFAULT ((0)) FOR [ekle]
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler] ADD  DEFAULT ((0)) FOR [duzenle]
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler] ADD  DEFAULT ((0)) FOR [sil]
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tanim_sayfalar] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[tanim_sayfalar] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tanim_sayfalar] ADD  DEFAULT ((0)) FOR [dashboard]
GO
ALTER TABLE [dbo].[user_groups] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_groups] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [login_attempts]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_status_bit]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[users_bayi] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users_bayi] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[voip_operator_Harcama] ADD  DEFAULT (getdate()) FOR [voip_operator_Harcama_Tarih]
GO
ALTER TABLE [dbo].[voip_operator_NoTeslim] ADD  CONSTRAINT [DF_NoTeslim_TeslimTarihi]  DEFAULT (getdate()) FOR [voip_operator_NoTeslim_TeslimTarihi]
GO
ALTER TABLE [dbo].[voip_operator_NoTeslim] ADD  CONSTRAINT [DF_NoTeslim_IadeTarihi]  DEFAULT (getdate()) FOR [voip_operator_NoTeslim_IadeTarihi]
GO
ALTER TABLE [dbo].[voip_operator_numara] ADD  DEFAULT ((1)) FOR [voip_operator_numara_durum]
GO
ALTER TABLE [dbo].[voip_operator_numara] ADD  DEFAULT (getdate()) FOR [voip_operator_numara_olusturmaTarihi]
GO
ALTER TABLE [dbo].[voip_operator_tanim] ADD  DEFAULT ((1)) FOR [voip_operator_durum]
GO
ALTER TABLE [dbo].[voip_operator_tanim] ADD  DEFAULT (getdate()) FOR [voip_operator_olusturmaTarihi]
GO
ALTER TABLE [digiturk].[bayi_hakedis_prim_donem] ADD  CONSTRAINT [DF__bayi_hake__durum__489AC854]  DEFAULT ('AKTIF') FOR [durum]
GO
ALTER TABLE [digiturk].[bayi_hakedis_prim_donem] ADD  CONSTRAINT [DF__bayi_hake__olust__498EEC8D]  DEFAULT (getdate()) FOR [olusturma_tarihi]
GO
ALTER TABLE [digiturk].[iris_rapor] ADD  CONSTRAINT [DF__iris_rapo__eklen__628FA481]  DEFAULT (getdate()) FOR [eklenme_tarihi]
GO
ALTER TABLE [dbo].[API_basvuruListesi]  WITH CHECK ADD  CONSTRAINT [FK_API_basvuruListesi_BasvuruDurum] FOREIGN KEY([API_basvuru_basvuru_durum_ID])
REFERENCES [dbo].[API_basvuruDurum] ([API_basvuru_durum_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[API_basvuruListesi] CHECK CONSTRAINT [FK_API_basvuruListesi_BasvuruDurum]
GO
ALTER TABLE [dbo].[API_basvuruListesi]  WITH CHECK ADD  CONSTRAINT [FK_API_basvuruListesi_Campaign] FOREIGN KEY([API_basvuru_CampaignList_ID])
REFERENCES [dbo].[API_CampaignList] ([API_CampaignList_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[API_basvuruListesi] CHECK CONSTRAINT [FK_API_basvuruListesi_Campaign]
GO
ALTER TABLE [dbo].[API_basvuruListesi]  WITH CHECK ADD  CONSTRAINT [FK_API_basvuruListesi_CardType] FOREIGN KEY([API_basvuru_identityCardType_ID])
REFERENCES [dbo].[API_GetCardTypeList] ([API_GetCardTypeList_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[API_basvuruListesi] CHECK CONSTRAINT [FK_API_basvuruListesi_CardType]
GO
ALTER TABLE [dbo].[API_basvuruListesi]  WITH CHECK ADD  CONSTRAINT [FK_API_basvuruListesi_kullanici] FOREIGN KEY([API_basvuru_kullanici_ID])
REFERENCES [dbo].[API_kullanici] ([api_iris_kullanici_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[API_basvuruListesi] CHECK CONSTRAINT [FK_API_basvuruListesi_kullanici]
GO
ALTER TABLE [dbo].[API_basvuruListesi]  WITH CHECK ADD  CONSTRAINT [FK_API_basvuruListesi_ResponseCode] FOREIGN KEY([API_basvuru_ResponseCode_ID])
REFERENCES [dbo].[API_ResponseCode] ([ResponseCode_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[API_basvuruListesi] CHECK CONSTRAINT [FK_API_basvuruListesi_ResponseCode]
GO
ALTER TABLE [dbo].[API_GetNeoCampaignList]  WITH CHECK ADD  CONSTRAINT [FK_API_GetNeoCampaignList_odeme_turu] FOREIGN KEY([API_GetNeoCampaignList_odeme_turu_id])
REFERENCES [dbo].[API_odeme_turu] ([API_odeme_turu_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[API_GetNeoCampaignList] CHECK CONSTRAINT [FK_API_GetNeoCampaignList_odeme_turu]
GO
ALTER TABLE [dbo].[API_GetSatelliteCampaignList]  WITH CHECK ADD  CONSTRAINT [FK_API_GetSatelliteCampaignList_odeme_turu] FOREIGN KEY([API_GetSatelliteCampaignList_odeme_turu_id])
REFERENCES [dbo].[API_odeme_turu] ([API_odeme_turu_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[API_GetSatelliteCampaignList] CHECK CONSTRAINT [FK_API_GetSatelliteCampaignList_odeme_turu]
GO
ALTER TABLE [dbo].[API_Gonderim_Log]  WITH CHECK ADD  CONSTRAINT [FK_API_Log_Basvuru] FOREIGN KEY([log_basvuru_ID])
REFERENCES [dbo].[API_basvuruListesi] ([API_basvuru_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[API_Gonderim_Log] CHECK CONSTRAINT [FK_API_Log_Basvuru]
GO
ALTER TABLE [dbo].[API_Gonderim_Log]  WITH CHECK ADD  CONSTRAINT [FK_API_Log_IslemYapanKullanici] FOREIGN KEY([log_islem_yapan_kullanici_ID])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[API_Gonderim_Log] CHECK CONSTRAINT [FK_API_Log_IslemYapanKullanici]
GO
ALTER TABLE [dbo].[API_kullanici]  WITH CHECK ADD  CONSTRAINT [FK_api_iris_kullanici_users] FOREIGN KEY([users_ID])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[API_kullanici] CHECK CONSTRAINT [FK_api_iris_kullanici_users]
GO
ALTER TABLE [dbo].[API_Slider]  WITH CHECK ADD  CONSTRAINT [FK_API_Slider_CampaignList] FOREIGN KEY([api_iris_slider_CampaignList_ID])
REFERENCES [dbo].[API_CampaignList] ([API_CampaignList_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[API_Slider] CHECK CONSTRAINT [FK_API_Slider_CampaignList]
GO
ALTER TABLE [dbo].[bayi_hakedis_odeme]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[bayi_hakedis_odeme]  WITH CHECK ADD FOREIGN KEY([odeme_turu_id])
REFERENCES [dbo].[odeme_turleri] ([id])
GO
ALTER TABLE [dbo].[bayi_hakedis_odeme]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[bayi_hakedis_odeme]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hakedis_tanim]  WITH CHECK ADD  CONSTRAINT [FK__hakedis_t__bayi___1AD3FDA4] FOREIGN KEY([bayi_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hakedis_tanim] CHECK CONSTRAINT [FK__hakedis_t__bayi___1AD3FDA4]
GO
ALTER TABLE [dbo].[tanim_menuler]  WITH CHECK ADD  CONSTRAINT [FK_tanim_menuler_modul] FOREIGN KEY([modul_id])
REFERENCES [dbo].[tanim_moduller] ([modul_id])
GO
ALTER TABLE [dbo].[tanim_menuler] CHECK CONSTRAINT [FK_tanim_menuler_modul]
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler]  WITH CHECK ADD  CONSTRAINT [FK_mm_yetki_group] FOREIGN KEY([user_group_id])
REFERENCES [dbo].[user_groups] ([id])
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler] CHECK CONSTRAINT [FK_mm_yetki_group]
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler]  WITH CHECK ADD  CONSTRAINT [FK_mm_yetki_menu] FOREIGN KEY([menu_id])
REFERENCES [dbo].[tanim_menuler] ([menu_id])
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler] CHECK CONSTRAINT [FK_mm_yetki_menu]
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler]  WITH CHECK ADD  CONSTRAINT [FK_mm_yetki_modul] FOREIGN KEY([modul_id])
REFERENCES [dbo].[tanim_moduller] ([modul_id])
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler] CHECK CONSTRAINT [FK_mm_yetki_modul]
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler]  WITH CHECK ADD  CONSTRAINT [FK_tanim_sayfa_yetkiler_group] FOREIGN KEY([user_group_id])
REFERENCES [dbo].[user_groups] ([id])
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler] CHECK CONSTRAINT [FK_tanim_sayfa_yetkiler_group]
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler]  WITH CHECK ADD  CONSTRAINT [FK_tanim_sayfa_yetkiler_sayfa] FOREIGN KEY([sayfa_id])
REFERENCES [dbo].[tanim_sayfalar] ([sayfa_id])
GO
ALTER TABLE [dbo].[tanim_sayfa_yetkiler] CHECK CONSTRAINT [FK_tanim_sayfa_yetkiler_sayfa]
GO
ALTER TABLE [dbo].[tanim_sayfalar]  WITH CHECK ADD  CONSTRAINT [FK_tanim_sayfalar_menu] FOREIGN KEY([menu_id])
REFERENCES [dbo].[tanim_menuler] ([menu_id])
GO
ALTER TABLE [dbo].[tanim_sayfalar] CHECK CONSTRAINT [FK_tanim_sayfalar_menu]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([user_group_id])
REFERENCES [dbo].[user_groups] ([id])
GO
ALTER TABLE [dbo].[users_bayi]  WITH CHECK ADD  CONSTRAINT [FK_users_bayi_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_bayi] CHECK CONSTRAINT [FK_users_bayi_user_id]
GO
ALTER TABLE [dbo].[voip_operator_Harcama]  WITH CHECK ADD  CONSTRAINT [FK_Harcama_Numara] FOREIGN KEY([voip_operator_numara_id])
REFERENCES [dbo].[voip_operator_numara] ([voip_operator_numara_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[voip_operator_Harcama] CHECK CONSTRAINT [FK_Harcama_Numara]
GO
ALTER TABLE [dbo].[voip_operator_NoTeslim]  WITH CHECK ADD  CONSTRAINT [FK_NoTeslim_Numara] FOREIGN KEY([voip_operator_numara_id])
REFERENCES [dbo].[voip_operator_numara] ([voip_operator_numara_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[voip_operator_NoTeslim] CHECK CONSTRAINT [FK_NoTeslim_Numara]
GO
ALTER TABLE [dbo].[voip_operator_NoTeslim]  WITH CHECK ADD  CONSTRAINT [FK_NoTeslim_Users] FOREIGN KEY([voip_operator_users_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[voip_operator_NoTeslim] CHECK CONSTRAINT [FK_NoTeslim_Users]
GO
ALTER TABLE [dbo].[voip_operator_numara]  WITH CHECK ADD  CONSTRAINT [FK_voip_operator_numara_tanim] FOREIGN KEY([voip_operator_tanim_id])
REFERENCES [dbo].[voip_operator_tanim] ([voip_operator_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[voip_operator_numara] CHECK CONSTRAINT [FK_voip_operator_numara_tanim]
GO
ALTER TABLE [dbo].[voip_operator_tanim]  WITH CHECK ADD  CONSTRAINT [FK_voip_operator_users] FOREIGN KEY([voip_operator_users_id])
REFERENCES [dbo].[users] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[voip_operator_tanim] CHECK CONSTRAINT [FK_voip_operator_users]
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler]  WITH CHECK ADD  CONSTRAINT [CK_mm_yetki_hedef] CHECK  (([modul_id] IS NOT NULL AND [menu_id] IS NULL OR [modul_id] IS NULL AND [menu_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[tanim_modul_menu_yetkiler] CHECK CONSTRAINT [CK_mm_yetki_hedef]
GO
ALTER TABLE [dbo].[voip_operator_tanim]  WITH CHECK ADD CHECK  (([voip_operator_trunk]=(1) OR [voip_operator_trunk]=(0)))
GO
ALTER TABLE [digiturk].[bayi_hakedis_prim_donem]  WITH CHECK ADD  CONSTRAINT [CK_bayi_hakedis_prim_donem_durum] CHECK  (([durum]='PASIF' OR [durum]='AKTIF'))
GO
ALTER TABLE [digiturk].[bayi_hakedis_prim_donem] CHECK CONSTRAINT [CK_bayi_hakedis_prim_donem_durum]
GO
ALTER TABLE [digiturk].[bayi_hakedis_prim_donem]  WITH CHECK ADD  CONSTRAINT [CK_bayi_hakedis_prim_donem_tarih] CHECK  (([bitis_tarihi]>[baslangic_tarihi]))
GO
ALTER TABLE [digiturk].[bayi_hakedis_prim_donem] CHECK CONSTRAINT [CK_bayi_hakedis_prim_donem_tarih]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'API gönderimlerinin detaylı loglarını tutar. Her Tekrar Gönder işlemi burada kaydedilir.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'API_Gonderim_Log'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menünün benzersiz kimliği (Primary Key)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_menuler', @level2type=N'COLUMN',@level2name=N'menu_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menünün bağlı olduğu modül kimliği' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_menuler', @level2type=N'COLUMN',@level2name=N'modul_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menü adı (örn: Tanımlar)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_menuler', @level2type=N'COLUMN',@level2name=N'menu_adi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menü URL adresi (örn: Tanimlar)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_menuler', @level2type=N'COLUMN',@level2name=N'menu_url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menüde kullanılacak ikon sınıfı (örn: fa-list)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_menuler', @level2type=N'COLUMN',@level2name=N'ikon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menünün sıralama numarası' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_menuler', @level2type=N'COLUMN',@level2name=N'sira_no'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menünün durumu (1=Aktif, 0=Pasif)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_menuler', @level2type=N'COLUMN',@level2name=N'durum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Oluşturulma tarihi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_menuler', @level2type=N'COLUMN',@level2name=N'created_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Son güncelleme tarihi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_menuler', @level2type=N'COLUMN',@level2name=N'updated_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modül/Menü yetki kaydının benzersiz kimliği (Primary Key)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_modul_menu_yetkiler', @level2type=N'COLUMN',@level2name=N'modul_menu_yetki_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Yetkinin hedefi MODÜL ise bu alan doludur (FK: tanim_moduller)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_modul_menu_yetkiler', @level2type=N'COLUMN',@level2name=N'modul_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Yetkinin hedefi MENÜ ise bu alan doludur (FK: tanim_menuler)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_modul_menu_yetkiler', @level2type=N'COLUMN',@level2name=N'menu_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Yetkinin ait olduğu kullanıcı grubu (FK: user_groups)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_modul_menu_yetkiler', @level2type=N'COLUMN',@level2name=N'user_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Görüntüleme izni (1=Evet, 0=Hayır)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_modul_menu_yetkiler', @level2type=N'COLUMN',@level2name=N'gor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kayıt durumu (1=Aktif, 0=Pasif)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_modul_menu_yetkiler', @level2type=N'COLUMN',@level2name=N'durum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kayıt oluşturulma zamanı' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_modul_menu_yetkiler', @level2type=N'COLUMN',@level2name=N'created_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kayıt son güncellenme zamanı' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_modul_menu_yetkiler', @level2type=N'COLUMN',@level2name=N'updated_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modülün benzersiz kimliği (Primary Key)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_moduller', @level2type=N'COLUMN',@level2name=N'modul_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modülün görünen adı (örn: Yönetim)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_moduller', @level2type=N'COLUMN',@level2name=N'modul_adi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modülün URL adresi (örn: /yonetim)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_moduller', @level2type=N'COLUMN',@level2name=N'modul_url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Admin için kullanılan modül' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_moduller', @level2type=N'COLUMN',@level2name=N'aciklama'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modülün durumu (1=Aktif, 0=Pasif)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_moduller', @level2type=N'COLUMN',@level2name=N'durum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modülün oluşturulma tarihi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_moduller', @level2type=N'COLUMN',@level2name=N'created_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Son güncelleme tarihi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_moduller', @level2type=N'COLUMN',@level2name=N'updated_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modülün menüde/listede görüntülenme sırası (küçük sayı üstte)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_moduller', @level2type=N'COLUMN',@level2name=N'sira_no'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modül ikon sınıfı (örn: fa-cog, fa-users) — UI görünümü için kullanılır' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_moduller', @level2type=N'COLUMN',@level2name=N'modul_ikon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfa yetki kaydının benzersiz kimliği (Primary Key)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'sayfa_yetki_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Yetkinin ait olduğu sayfa kimliği' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'sayfa_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Yetkinin ait olduğu kullanıcı grubu kimliği' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'user_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfayı görüntüleme izni (1=Evet, 0=Hayır)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'gor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sadece kendi kullanıcına ait işlemleri görüntüleme izni (örn: filtrede ve tablosu sadece login olan kullanıcı bilgisi listelenir) (1=Evet, 0=Hayır)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'kendi_kullanicini_gor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"Ekle" butonuna erişim izni (1=Evet, 0=Hayır)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'ekle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"Düzenle" butonuna erişim izni (1=Evet, 0=Hayır)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'duzenle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"Sil" butonuna erişim izni (1=Evet, 0=Hayır)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'sil'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Yetki kaydının durumu (1=Aktif, 0=Pasif)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'durum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kayıt oluşturulma tarihi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'created_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Son güncelleme tarihi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfa_yetkiler', @level2type=N'COLUMN',@level2name=N'updated_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfanın benzersiz kimliği (Primary Key)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfalar', @level2type=N'COLUMN',@level2name=N'sayfa_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfanın bağlı olduğu menü kimliği' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfalar', @level2type=N'COLUMN',@level2name=N'menu_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfa adı (örn: Kullanıcı Yönetimi)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfalar', @level2type=N'COLUMN',@level2name=N'sayfa_adi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfanın URL adresi (örn: /users.php)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfalar', @level2type=N'COLUMN',@level2name=N'sayfa_url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfa hakkında açıklama (örn: Kullanıcı ekleme, düzenleme ve durum değiştirme sayfası)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfalar', @level2type=N'COLUMN',@level2name=N'aciklama'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfanın durumu (1=Aktif, 0=Pasif)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfalar', @level2type=N'COLUMN',@level2name=N'durum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Oluşturulma tarihi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfalar', @level2type=N'COLUMN',@level2name=N'created_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Son güncelleme tarihi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfalar', @level2type=N'COLUMN',@level2name=N'updated_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfanın menüde/listede görüntülenme sırası (küçük sayı üstte)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfalar', @level2type=N'COLUMN',@level2name=N'sira_no'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfa ikon sınıfı (örn: fa-file, fa-table) — UI görünümü için kullanılır' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tanim_sayfalar', @level2type=N'COLUMN',@level2name=N'sayfa_ikon'
GO
USE [master]
GO
